$font-open-sans: "Open sans";
$font-roboto-condensed: "Roboto condensed";
$hover-color: #de2e54;
$active-color: rgba(222, 46, 84, 0.6);
$hero-bg-color: #0EB4C1;
$heading-color: #000;
$title-color: #222;
$text-color: #444;