.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header__button {
  background-color: $hover-color;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: transparent;
    border-color: $hover-color;
    color: $hover-color;
  }

  &:active {
    background-color: $hover-color;
    color: #fff;
    opacity: 0.6;
  }
}

@media  only screen and (max-width: 1000px) {
  .site-header-open .site-header__container::before {
    position: fixed;
    top: 90px;
    right: 20px;
    border-radius: 12px;
    // border: 1px solid #000;
    width: 250px;
    height: 300px;
    background-color: #fff;
    box-shadow: 3px 4px 10px 4px #888888;
    content: "";
    z-index: 50;
  }

  .site-header__sitenav {
    display: none;
  }

  .site-header-open .site-header__sitenav {
    position: absolute;
    top: 110px;
    right: 40px;
    display: block;
    z-index: 51;
  }

  .site-header__button {
    margin-left: auto;
  }
}

@media only screen and (max-width: 520px) {
  .site-header__button {
    display: none;
  }

  .site-header-open .site-header__container::before {
    top: 0;
    right: 0;
    border: none;
    width: 100%;
    height: 100%
  }

  .site-header-open .site-header__sitenav {
    top: 90px;
    right: 20px;
    display: block;
    z-index: 51;
    margin-right: 0;
  }

  .site-header-open .site-header__button {
    display: block;
    position: absolute;
    top: 22px;
    left: 20px;
    z-index: 51;
  }
}

@media  only screen and (max-width: 300px) {
  .site-header__logo-link {
    margin-right: 0;
  }
}